/vendor
.env
.idea/
.apache/error.log
.apache/access.log
/public/media/images/*
/composer.lock
/.sass-cache/
/database/kotik.sql
/database/mysqldump.sh
/database/mysqlload.sh
/node_modules
Homestead.yaml
Homestead.json
